<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/persons/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="firstName">Введите имя: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{name}">Некорректное Имя</div>
    <br/>
    <label for="lastName">Введите фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Некорректная Фамилия</div>
    <br/>
    <label for="nickname">Введите ник: </label>
    <input type="text" th:field="*{nickname}" id="nickname"/>
    <div style="color:red" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Некорректный никнейм</div>
    <br/>
    <label for="email">Введите email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Некорректный Email</div>
    <br/>
    <label for="birthday">Введите дату рождения: </label>
    <input type="text" th:field="*{birthday}" id="birthday"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Некорректная дата рождения</div>
    <br/>
    <label for="city">Введите город: </label>
    <input type="text" th:field="*{city}" id="city"/>
    <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Некорректное название города</div>
    <br/>
    <input type="submit" value="Обновить!">
</form>

</body>
</html>