<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All we need vacation!</title>
</head>
<body>

<div th:each="person : ${persons}" >
    <a th:href="@{/persons/{id}(id=${person.getId()})}" th:text="${person.getFirstName()}">user</a>
    <a th:href="@{/persons/{id}(id=${person.getId()})}" th:text="${person.getLastName()}">user</a>
    <a th:href="@{/persons/{id}(id=${person.getId()})}" th:text="${person.getNickname()}">user</a>
    <a th:href="@{/persons/{id}(id=${person.getId()})}" th:text="${person.getEmail()}">user</a>
    <a th:href="@{/persons/{id}(id=${person.getId()})}" th:text="${person.getBirthday()}">user</a>
    <a th:href="@{/persons/{id}(id=${person.getId()})}" th:text="${person.getCity()}">user</a>
</div>

<br/>
<hr/>

<a href="/persons/new">Добавить пользователя</a>

</body>
</html>