<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show person</title>
</head>
<body>

<p th:text="${person.getId()}">VALUE</p>
<p th:text="${person.getFirstName()}">VALUE</p>
<p th:text="${person.getLastName()}">VALUE</p>
<p th:text="${person.getNickname()}">VALUE</p>
<p th:text="${person.getEmail()}">VALUE</p>
<p th:text="${person.getBirthday()}">VALUE</p>
<p th:text="${person.getCity()}">VALUE</p>

<a th:href="@{/persons/{id}/edit(id=${person.getId()})}">Редактировать</a>



</body>
</html>